.npc-characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.npc-single-card {
    padding: 1rem;
}

.character-image {
    width: 8rem;
    height: 8rem;
}

.npc-name {
    color: #FFDF2B;
    font-size: 25px;
    text-align: center;
}

.characters-header {
    background-image: url(src/Images/Headers/Characters-header.png);
    height: 12rem;
    width: 80rem;
    background-repeat: no-repeat;
    margin-top: 8%;
}