.npc-characters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}
.character-search-bar {
  box-shadow: 1px 1px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

.npc-single-card {
  padding: 1rem;
}

.character-image {
  width: 8rem;
  height: 8rem;
}

.npc-name {
  color: #ffdf2b;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  
}

.characters-header {
  height: 12rem;
  width: 80rem;
  margin-top: 8%;
}

.npc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
