/* Purpose: Styling for login and registration pages */
.auth-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100vh;
 justify-content: center;
}

.header-login {
  color: #7f62b7;
  font-size: 50px;
  text-align: center;

}
.input-login{
  text-align: center;
}
.input-button{
text-align: center;
}
.header-register {
  color: #7f62b7;
  font-size: 50px;
  text-align: center;
}
.auth-fieldset {
  margin: 10px;
  border: none;
}
.auth-button {
  background-color: #ff66c4;
  border-radius: 10px;
  box-shadow: 2px 2px;
}
.auth-form-input {
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px;
  }
.auth-form {
  height: 175px;
  width: 300px;
  padding: 6px;
  border-radius: 30px;
  background-color: #ffdf2b;
  box-shadow: black 4px 4px;
  margin-bottom: 12px;
}
.login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  width: 5rem;
}
.auth-form-register {
  height: 200px;
  width: 300px;
  padding: 6px;
  border-radius: 30px;
  background-color: #ffdf2b;
  margin-top: 8rem;
}


/* ALL CSS FOR PROFILE.JSX */
.profile-header {
  height: 12rem;
  width: 80rem;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.profile-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-edit-card{
  color: #ffdf2b;
  background-color: #ff66c4;
  border-radius: 10%;
  padding: 2rem;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
  height: 20rem;
  width: 22rem;
  margin-top: 5rem;
  box-shadow: 1px 1px black;
}
.username-text-field {
  margin: 5px;
}
.email-text-field {
  margin: 5px;
}
.button-save-profile {
  background-color: #ffdf2b;
  border-radius: 50%;
  margin: .5rem;
  color: #7f62b7;
}
.dropdown-img {
  width: 3rem;
  height: 3rem;
}

.npc-dropdown-scroll {
  max-height: 15rem;
  overflow-y: scroll;
  width: 14.1rem;
  border-radius: 3%;
}