.reminder-container {
    background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-reminders {
  background-image: url(src/Images/Reminder-header1.png);
  height: 12rem;
  width: 30rem;
  background-repeat: no-repeat;
  margin-top: 8%;
}

.edit-reminder-header {
  background-image: url(src/Images/Edit-Reminder-header.png);
  height: 12rem;
  width: 30rem;
  background-repeat: no-repeat;
  margin-top: 8%;
}

.new-reminder-header {
  color: #7f62b7;
  font-size: 6rem;
}

.reminder-card {
  margin: .5rem;
}

/* 
  Calling from Reminder.jsx for individual reminder cards.
  This is CardBody of Card
*/
.single-reminder-card {
  background-color: #d6e9f1;
}

.button-new-reminder {
  background-color: #ff66c4;
  border-radius: 15px;
  margin: 1rem;
}

/* all reminders card*/
.reminders {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  padding: 3rem;
}

/*edit button on reminder card*/
.button-edit {
  margin: 1rem;
  background-color: #d6e9f1;
  color: #7f62b7;
  border-radius: 15px;
}

.button-delete {
  margin: 1rem;
  background-color: #7f62b7;
  color: #ff66c4;
  border-radius: 15px;
}

.button-complete {
  margin: 1rem;
  background-color: #00b8f1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: .5em;
  font-weight: bolder;
  color: magenta
}

.reminder-title {
  font-size: 30px;
}
