.reminder-container {
padding-top: 10rem;
}
.header-reminders {
  color: #7F62B7;
  font-size: 90px;
}

.new-reminder-header{
    color: #7F62B7;
    font-size: 6rem; 
}
.reminder-container {
  width: 100vw;
}

.single-reminder-card {
  padding: 2rem;
  margin: 1rem;
}

.button-new-reminder {
  background-color: #ff66c4;
  border-radius: 15px;
  margin: 1rem;
}

/* all individual reminders card*/
.reminders {
 margin-top: 1rem;
 display: flex;
 flex-direction: row;
 padding: 3rem;
}

/*edit button on reminder card*/
.button-edit{
    margin: 1rem;
    background-color: #D6E9F1;
    color: #7F62B7;
    border-radius: 15px; 
}

.button-delete {
    margin: 1rem;
    background-color: #7F62B7;
    color: #ff66c4;
    border-radius: 15px; 
}
.button-complete {
    margin: 1rem;
    background-color: #00B8F1;
    border-radius: 15px; 
}
.reminder-title {
 font-size: 25px;
}