/* REMINDER LIST CSS */
.reminder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.edit-page {
  background-image: url(src/Images/background.png);
}

.header-reminders {
  height: 12rem;
  width: 80rem;
  margin-top: 25%;
}

/* from RemindersFilter.jsx: reminder-search, button-complete, button-current */
.reminder-search {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  width: 20rem;
  margin-right: 3rem;
}
.button-current {
  color: #7f62b7;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  box-shadow: 1px 2px;
  margin-right: 1rem;
}
.button-completed {
  color: #00b8f1;
  border-radius: 3%;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
/* 
  Calling from Reminder.jsx for individual reminder cards.
  This is CardBody of Card
*/
.single-reminder-card {
  background-color: #d6e9f1;
  border-radius: 3%;
  box-shadow: 2px 2px black;
  width: 20rem;
  height: 22rem;
}
/* ReminderList/ Homepage Title */
.reminder-title {
  color: #ff66c4;
  padding: 1rem;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}
.reminder-card {
  margin: 0.5rem;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.reminders {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  padding: 3rem;
}
.reminder-synopsis {
  text-wrap: wrap;
  color: #ff66c4;
  font-size: 17px;
}
.button-delete {
  margin: 1rem;
  background-color: #7f62b7;
  color: #ff66c4;
  border-radius: 15px;
  box-shadow: 2px 2px black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: oblique;
  font-size: 16px;
}
.button-complete {
  margin: 1rem;
  background-color: #00b8f1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 0.5em;
  font-weight: bolder;
  color: #ffdf2b;
  box-shadow: 2px 2px black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.button-new-reminder {
  background-color: #ff66c4;
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 2px 2px black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*edit button on reminder card*/
.button-edit {
  margin: 1rem;
  background-color: #ffdf2b;
  color: #7f62b7;
  border-radius: 15px;
  box-shadow: 2px 2px black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ALL EDIT REMINDERS CSS */
.edit-reminder-header {
  height: 12rem;
  width: 85rem;
  background-repeat: no-repeat;
  margin-top: 8%;
  margin-left: 48rem;
}

.edit-reminder-card {
  color: #ffdf2b;
  background-color: #7f62b7;
  border-radius: 10%;
  padding: 2rem;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  height: 22rem;
  width: 25rem;
  box-shadow: 2px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.reminder-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #d6e9f1;
}
.edit-reminder-title {
  text-align: center;
}
.dropdown-toggle {
  width: 14rem;
}

/* ALL CREATE REMINDER CSS */
.new-reminder-header {
  height: 12rem;
  width: 85rem;
  background-repeat: no-repeat;
  margin-top: 1%;
  margin-bottom: 6rem;
}
.button-create-submit {
  color: #d6e9f1;
  background-color: #00b8f1;
  border-radius: 45%;
  box-shadow: 1px 2px black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-top: 3px;
  font-size: 25px;
}
.create-reminder-card {
  color: #d6e9f1;
  background-color: #ff66c4;
  padding: 2rem;
  border-radius: 10%;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-shadow: 1px 2px black;
}
.title-text-field {
  text-align: center;
  margin-bottom: 2px;
  width: 14rem;

}
.synopsis-text-field {
  height: 70px;
  margin-bottom: 2px;
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  width: 14rem;
}

.npc-dropdown-scroll {
  max-height: 15rem;
  overflow-y: scroll;
  width: 14.1rem;
  border-radius: 3%;
}