.calendar-header {
    background-image: url(src/Images/Headers/Calendar-header1.png);
    height: 12rem;
    width: 30rem;
    background-repeat: no-repeat;
    margin-top: 8%;
}

.calendar-container {
    display: flex;
    flex-direction: column;
width: 100vw;
height: 100vh;
}
