.calendar-header {
  height: 12rem;
  width: 80rem;
  margin-top: 20%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 2rem;
}

.spring-calendar {
  width: 100vw;
  height: 100vh;
}
