.calendar-header {
  height: 12rem;
  width: 80rem;
  margin: 4%;
  align-items: center;
}
.calendar-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.calendar-images {
  width: 80rem;
  height: 45rem;
  margin-bottom: 2%;
}
.calendar-button {
    margin: 1rem;
    background-color:#00b8f1;
    color: #7f62b7;
    border-radius: 40%;
    box-shadow: 2px 2px black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}