/* Purpose: styling for Navbar.jsx */

.nav-container {
  min-width: 880px;
  align-self: baseline;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navbar-CIC {
  background-color: #00b8f1;
  border-bottom: 7px double #ffdf2b;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 14px 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  max-height: 7rem;
}

.navbar-pages {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-username {
  color: #ff66c4;
  font-size: 20px;
  margin-top: 4px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.logout-card {
  position: absolute;
  right: 5px;
  background-color: #ffdf2b;
  border-radius: 3%;
  padding-right: 15px;
  padding-left: 20px;
  padding-bottom: 5px;
  margin-top: 9px;
  margin-right: 30px;
  box-shadow: 1px 2px grey;
}
